/*====================================================
||||||Color Palette|||||
====================================================*/
$orange:#B55E3A;
$black:#000D0E;
$grey:#464941;
$white:#F3F3F1;
$greywhite:#B5A992;
$lightgreywhite:#B3AA99;
$overlayblue:#225470;
$fb_color: #3b5998;
$li_color: #0077B5;
$google_color:#dd4b39;
$ul_link: #262626;

/*====================================================
||||||Fonts |||||
====================================================*/
$font-family_Pacifico: 'Pacifico', cursive;
$font-family_Dancing: 'Dancing Script', cursive;
$font-family_Yantramanav: 'Yantramanav', sans-serif;
$font-family_Noto: 'Noto Serif', serif;

